{% extends 'base.html' %}

{% load static %}

{% block metadescription %}

    {% if category %}
      {{category.description|truncatewords:155}}
    {% else%}
      Welcome to ABC shopping where you can buys different products
    {% endif %}

{% endblock %}

{% block title %}

    {% if category %}
      {{category.name}} - ABC Shopping
    {% else%}
      See our New Collections
    {% endif %}

{% endblock %}

{% block content %}

    {% if category %}
       <div>
           <div class="row my_row_class">
               <div class="mx-auto">
               <p><a href="{% url 'ecommerceapp:allProdcat' %}">Our Product Collections</a></p>
           </div>
               </div>
       </div>
    {% endif %}
       <div class="mx-auto">
    {% if category %}
           <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" width="250px" height="250px">
       </div>
       <br>
       <div>
           <h1 class="text-center my_title">{{category.name}}</h1>
           <p class="text-justify">{{category.description}}</p>
       </div>
    {% else %}
       <div>
            <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products" width="1250px" height="250px">
       </div>
       <br>
       <div>
           <h1 class="text-centre my_title"><center>Our Products Collections</center></h1>
           <br>
           <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              © 2022</p>
           <br>
           <br>
       </div>

    {% endif %}

    <div class="container">
        <div class="row mx_auto">
            {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width:18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" width="250px" height="250px"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>Rs.{{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if products.paginator.num_pages > 1 %}

            <br>
            <div class="text-center">
                {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
    </div>

{% endblock %}

